@model IEnumerable<Rating>

@{
    ViewData["Title"] = "Player overview";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <div class="dx-searchbar">
        @(Html.DevExtreme().TextBox()
            .ValueChangeEvent("keyup")
            .Placeholder("Search")
            .Mode(TextBoxMode.Search)
            .OnValueChanged("textBox_onValueChanged")
        )
    </div>

    <div class="list-container">
        @(Html.DevExtreme().List()
            .ID("players-list")
            .DataSource(Model)
            .DataSourceOptions(dso => dso
                .Paginate(true)
                .PageSize(10)
                .Sort("Player.Name", false)
            )
            .Option("itemTemplate", new JS("getItemTemplate"))
        )
    </div>

    <script>
        function textBox_onValueChanged(e) {
            var dataSource = $("#players-list").dxList("instance").getDataSource();
            dataSource.filter("Player.Name", "contains", e.value);
            dataSource.load();
        }

        function getItemTemplate(model) {
            if (!model.Player || model.Player.Name == null)
                return '- Player not found -';

            return $('<div>')
                .append($('<a>')
                    .attr("href", "/Players/Profile/" + model.Player.Id)
                    .html(model.Player.Name)
                    .css("width","100%")
                )
                .append($('<span>')
                    .addClass("pull-right badge")
                    .html(model.ELO)
                ).html();
        }
    </script>

    <script id="listItemTemplate" type="text/html">
        <div><%= ELO %></div>
    </script>
</div>