@{
    ViewData["Title"] = "Dashboard";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    @{Html.RenderPartial("Index/_Tiles");}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    @{Html.RenderPartial("Index/_TopPlayers");}
                </div>
                <div class="col-md-6">
                    @{Html.RenderPartial("Index/_TopTeams");}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{Html.RenderPartial("Index/_CompletedMatches");}
                </div>
            </div>      
        </div>
        <div class="col-md-4">
            @{Html.RenderPartial("Index/_Livegoals");}
        </div>
    </div>

    @section scripts {
        <script src="~/js/signalr-client.min.js"></script>
        <!--Add script to update the page and send messages.-->
        <script type="text/javascript">
            let connection = new signalR.HubConnection('/goal');

            var liveGoalContainer = $('#livegoals-list');

            connection.on('send', data => {
                console.log('data', data);
                var goal = null;
                try {
                    goal = JSON.parse(data);
                } catch (e) {
                    return;
                }

                //append goal data to container
                $('<li>').
                    append($('<div>')
                        .addClass('block')
                        .append($('<div>')
                            .addClass('block_container')
                            .append($('<h2>')
                                .addClass('title')
                                .append($('<a>')
                                    .css("color", goal.TeamColor == 0 ? "black" : "grey")
                                    //.css("font-weight","bold")
                                    .html('<i class="fa fa-futbol-o"></i>&nbsp;Goal scored by ' + goal.Player.Name + '!')    
                                )
                            )
                            .append($('<div>')
                                .addClass('byline')
                                .html('<time class="timeago" datetime="' + goal.CreatedAt + '"></time>')
                            )
                            .append($('<p>')
                                .addClass('excerpt')
                                .html('<a class="pull-right">Match&nbsp;Details</a>')
                            )
                        )
                    ).hide()
                    .prependTo(liveGoalContainer)
                    .fadeIn("slow");

                //only keep last 5 entries
                liveGoalContainer.find("li").slice(5).remove();

                //hide info panel
                $('#livegoals-alert').hide();

                //initialize timeago
                $("time.timeago").timeago();

                //increment total goals
                var totalGoals = parseInt($('#totalGoalsCount').text());
                $('#totalGoalsCount').text(totalGoals + 1);
            });

            connection.start()
                .then(() => connection.invoke('send', 'Welcome!'));
        </script>
    }
</div>
