<h3>Menu</h3>
<ul class="nav side-menu">
    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-desktop"></i>&nbsp;Dashboard</a></li>
    <li>
        <a><i class="fa fa-lock"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="">
            <li><a asp-area="" asp-controller="Players" asp-action="Index">Players</a></li>
            <li><a asp-area="" asp-controller="Teams" asp-action="Index">Teams</a></li>
            <li><a asp-area="" asp-controller="Matches" asp-action="Index">Matches</a></li>
            <li><a asp-area="" asp-controller="Goals" asp-action="Index">Goals</a></li>
            <li><a asp-area="" asp-controller="Ratings" asp-action="Index">Ratings</a></li>
        </ul>
    </li>
</ul>