<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0; height: initial;">
        <!--<img src="~/images/RVB_ALTRAN_10CM.jpg" style="width: 100%;"/>-->
    </div>

    <div class="clearfix"></div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top:20px;">
        <div class="menu_section">
            @{Html.RenderPartial("Layout/_Navigation");}
        </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer">
        <!--<a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>-->
        @if (User.Identity.IsAuthenticated)
        {
            <a style="width:100%;" data-toggle="tooltip" data-placement="top" title="Logout" asp-controller="Account" asp-action="Logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
        }
        else
        {
            <a style="width:100%;" data-toggle="tooltip" data-placement="top" title="Login" asp-controller="Account" asp-action="Login">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </a>
        }
    </div>
</div>