<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_content1" id="matches-tab" role="tab" data-toggle="tab" aria-expanded="true">Matches</a>
        </li>
        <li role="presentation" class="">
            <a href="#tab_content2" id="teams-tab" role="tab" data-toggle="tab" aria-expanded="true">Teams</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="matches-tab">
            @{Html.RenderPartial("Player/_TeamMatches");}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="teams-tab">
            @{Html.RenderPartial("Player/_Teams");}
        </div>
    </div>
</div>