<div class="x_panel">
    <div class="x_title">
        <h2>Recent Activities</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="dashboard-widget-content">
            <ul id="livegoals-list" class="list-unstyled timeline widget">
                <li>
                    <div class="block">
                        <div class="block_content">
                            <h2 class="title">
                                <a><i class="fa fa-futbol-o"></i>&nbsp;Goal scored by Team Grey!</a>
                            </h2>
                            <div class="byline">
                                <span>1 minute ago</span> by <a>Marco</a>
                            </div>
                            <p class="excerpt">
                                Current score: <strong>8-3</strong>
                                <a class="pull-right">Match&nbsp;Details</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>