<div class="x_panel">
    <div class="x_title">
        <h2>Recent Activities</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="dashboard-widget-content">
            <div id="livegoals-alert" class="alert alert-info">
                <i class="fa fa-info"></i>&nbsp;This feed will update automatically!
            </div>
            <ul id="livegoals-list" class="list-unstyled timeline widget">
                
            </ul>
        </div>
    </div>
</div>