<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-futbol-o"></i></div>
            <div class="count">@ViewData["TotalGoals"]</div>
            <h3>Goals</h3>
            <p>Total amount of goals scored</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-archive"></i></div>
            <div class="count">@ViewData["TotalMatches"]</div>
            <h3>Players</h3>
            <p>Total amount of matches played</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="count">@ViewData["TotalPlayers"]</div>
            <h3>Players</h3>
            <p>Total amount of players registered</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <div class="count">@ViewData["AvgMatchDuration"]</div>
            <h3>Minutes</h3>
            <p>Average duration of a match</p>
        </div>
    </div>
</div>