@model IEnumerable<Rating>

@{
    ViewData["Title"] = "Team overview";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <div class="dx-searchbar">
        @(Html.DevExtreme().TextBox()
            .ValueChangeEvent("keyup")
            .Placeholder("Search")
            .Mode(TextBoxMode.Search)
            .OnValueChanged("textBox_onValueChanged")
        )
    </div>

    <div class="list-container">
        @(Html.DevExtreme().List()
            .ID("teams-list")
            .OnItemClick("navigateToTeamProfile")
            .DataSource(Model)
            .DataSourceOptions(dso => dso
                .Paginate(true)
                .PageSize(10)
                .Sort("Team.Description", false)
            )
            .Option("itemTemplate", new JS("getTeamItemTemplate"))
        )
    </div>

    <script>
        function textBox_onValueChanged(e) {
            var dataSource = $("#teams-list").dxList("instance").getDataSource();
            dataSource.filter("Team.Description", "contains", e.value);
            dataSource.load();
        }

        function navigateToTeamProfile(item) {
            try {
                window.location.href = '/Teams/Profile/' + item.itemData.Team.Id;
            } catch (e) { }
        }

        function getTeamItemTemplate(model) {
            if (!model.Team || model.Team.Description == null)
                return '- Team not found -';

            return $('<div>')
                .append($('<a>')
                    //.attr("href", "/Teams/Profile/" + model.Team.Id)
                    .html(model.Team.Description)
                    .css("width","100%")
                )
                .append($('<span>')
                    .addClass("pull-right badge")
                    .html(model.ELO)
                ).html();
        }
    </script>
</div>