<table class="table">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>
    @foreach (var team in ViewBag.Teams)
    {
        <tr>
            <td>@team.Id</td>
            <td>@team.Description</td>
            <td><div class="badge">2000</div></td>
        </tr>
    }
</table>